.short-description .row {
  height: 80px;
  padding: auto;
  margin-top: 20px;
  float: left;
}


.listing-headline {
  font-style: bold;
  font-size: 3em;
  line-height: 120%;
}

.location-info {
  margin-top: 15px;
  font-weight: 300;
  font-size: 1.4em;
}


.details-overview div {
  display: inline-block;
  margin-right: 10%;
  width: auto;
}

.about-this-listing {
  padding: auto;
}


.about-description p {
  font-size: 1.2em;
  font-weight: lighter;        /*font-weight isn't working here.  text should be light and thin*/
}

#about-listing {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.space-accommodations {
  /*line-height: 100%;*/
}

.amenities {
  margin-bottom: 15px;
}

.the-space {
  margin-bottom: 15px;
}

.amenities-details {
  /*height: 250px;*/
  /*overflow: scroll;*/
}

#all-amenities {
  line-height: 200%;
  /*font-size: 1.1em;*/
  /*font-weight: lighter;*/
}
