
<div class="search-map">
  <div class="rentals-search-container">
    <div class="filters-container">
          Filters go here...
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="rental-cards-row col-xs-7">
          <div *ngFor="let rental of rentalListings" class="search-results">
            <div class="rental-card-wrapper col-md-6">
               <!-- <app-single-rental [listingImage]="rental.thumbnail.uri"></app-single-rental>
              <app-single-rental [listingHeadline]="rental.headline"></app-single-rental>
              <app-single-rental [listingAccommodations]="rental.accommodations"></app-single-rental> -->
              <app-card-listing [listing]="rental"></app-card-listing>

              <!-- <app-rental-listings #listingId="rental.listingId"></app-rental-listings> -->
            </div>
          </div>
        </div>
        <div class="map col-xs-5">
          <sebm-google-map [latitude]="userSearchLat" [longitude]="userSearchLng" [zoom]="zoom">
            <sebm-google-map-marker *ngFor="let marker of rentalListings" [latitude]="marker.location.lat" [longitude]="marker.location.lng"></sebm-google-map-marker>
          </sebm-google-map>
        </div>
      </div>
    </div>
  </div>
</div>
