
.review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviewer-photo {
    border-radius: 50%;
    min-height: 100px;
    min-width: 90px;
    margin-right: 15px;
}

.reviewer-photo img {
    max-height: 100%;
    max-width: 100%;
}
