.listing-reviews-container {
  display: flex;
  flex-direction: column;
}

.listing-review-box {

}

.review-wrapper {
  height: 100px;
  overflow: hidden;
}

.show {
    overflow: visible;
    height: auto;
}
